# Docker
PUID=1000
PGID=1000
TZ=Europe/Paris
MEDIA_DIR=/srv/media

# Routing
COOLIFY_NETWORK=coolify
SERVICE_URL_SONARR_8989=http://sonarr.justmammoth.us:8989
SERVICE_URL_RADARR_7878=http://radarr.justmammoth.us:7878
SERVICE_URL_BAZARR_6767=http://bazarr.justmammoth.us:6767
SERVICE_URL_JELLYFIN_8096=http://jellyfin.justmammoth.us:8096
FIREWALL_OUTBOUND_SUBNETS=172.18.0.0/16

# VPN (Private Internet Access)
VPN_SERVICE_PROVIDER=private internet access
VPN_USER=
VPN_PASS=
SERVER_REGIONS=
