# Docker
PUID=1000
PGID=1000
TZ=Europe/Paris
MEDIA_DIR=/srv/media

# Routing
COOLIFY_NETWORK=coolify
DOMAIN=
FIREWALL_OUTBOUND_SUBNETS=172.18.0.0/16

# VPN (Private Internet Access)
VPN_SERVICE_PROVIDER=
VPN_USER=
VPN_PASS=
SERVER_REGIONS=
